<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<ul>
    <li>This is the Home Page<br/></li> 
    <li>Insert HTML for Home Page here<br/></li>
    <li>Welcome to the Dance Class<br/></li>
</ul>
